<link rel="stylesheet" href="/css/footer.css">
<footer class="mt-5 py-4 bg-light text-center fixed-bottom">

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="social-icons mb-3 f-info-socials myicon">
                    <a href="https://www.facebook.com/" class="me-3" title="Facebook"><i class="fa-brands fa-facebook fa-lg"></i></a>
                    <a href="https://www.instagram.com/" class="me-3" title="Instagram"><i class="fa-brands fa-instagram fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/prathamesh-edlawar-1615a9350/" class="me-3" title="LinkedIn"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                    <a href="https://twitter.com/" class="me-3" title="Twitter"><i class="fa-brands fa-twitter fa-lg"></i></a>
                    </div>
                <p class="f-info mb-1">© <%= new Date().getFullYear() %> Ecoloop Private Limited. All rights reserved.</p>
                <p class="f-info-links">
                    <a href="/privacy" class="text-decoration-none text-dark me-2">Privacy Policy</a>
                    <span class="text-muted">|</span>
                    <a href="/terms" class="text-decoration-none text-dark ms-2">Terms of Service</a>
                </p>
                <!-- <div class="mt-2">
                    <p class="mb-0"><small>Contact us:</small></p>
                    <p class="mb-0"><small>Email: info@ecoloop.com</small></p>
                    </div> -->
                    
            </div>
        </div>
    </div>
</footer>
